@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url('https://i.ibb.co/9b1j61f/bg.png') no-repeat center center;
  background-size: cover;
}

#navbar {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "logo ul ul ul ul button";
  background: #002b27;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  font-family: "Ysabeau Infant", sans-serif;
  z-index: 1;
  color: white;
  
}


#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ysabeau Infant", sans-serif;
}

#logo img {
  height: 70px;
  width: 70px;

  /* margin: 0px 19px; */
}
#navbar ul {
  display: flex;
  list-style: none;
  /* justify-content: center; */
  align-items: center;
}
#navbar ul li {
  margin: 0px 19px;
}
#navbar ul li a {
  text-decoration: none;
  color: white;
  font-family: "Ysabeau Infant", sans-serif;
}
#navbar ul li a:hover {
  text-decoration: underline;
  text-shadow: 2px 1px 2px black;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ysabeau Infant", sans-serif;
  position: absolute;
  left: 2%;
  top: 0px;
  display: none;
}

.logo img {
  height: 50px;
  width: 50px;
  /* margin: 0px 19px; */
}
.burger
{
   position: absolute;
   right: 5%;
   top: 10px;
   display: none;
   cursor: pointer;
}
.line 
{
  width: 33px;
  height: 3px;
  background-color: whitesmoke;
  margin: 5px 3px;
}

#login {
  background: linear-gradient(270deg, #045935 0%, #002b27 100%);

  width: 40%;
  margin: 3rem auto;
  color: whitesmoke;
  border-radius: 30px;
}
#heading {
  text-align: center;
  font-size: 3rem;
  font-family: "Ysabeau Infant", sans-serif;
  padding: 40px 0px;
}
.label {
  margin: 16px 0px;
  margin-left: 120px;
  font-size: 1.2rem;
  margin-top: 20px;
  font-family: "Ysabeau Infant", sans-serif;
}

.username {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  border-bottom: 2px solid whitesmoke;
  padding: 10px 0px;
  width: 60%;
  margin: 5px 120px;
  font-family: "Ysabeau Infant", sans-serif;
  color: whitesmoke;
}

.username > input {
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  border: none;
  outline: none;
  background: none;
  color: whitesmoke;
  font-family: "Ysabeau Infant", sans-serif;
}
.username > i {
  margin: 10px 12px 1px 0px;
}

.password {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  border-bottom: 2px solid whitesmoke;
  padding: 10px 0px;
  width: 60%;
  margin: 5px 120px;
  font-family: "Ysabeau Infant", sans-serif;
  color: whitesmoke;
}

.password > input {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  color: whitesmoke;
  border: none;
  outline: none;
  background: none;
  font-family: "Ysabeau Infant", sans-serif;
}
.password > i {
  margin: 10px 12px 1px 0px;
}
#labelpassword {
  margin-bottom: 0px;
}
#labelusername {
  margin-bottom: 0px;
}
.forgot {
  position: relative;
  left: 20%;
  margin-top: 20px;
}
.forgot > a {
  color: whitesmoke;
  text-decoration: none;
}
.forgot > a:hover {
  text-decoration: underline;
}

.btn {
  margin-top: 40px;
  padding-bottom: 20px;
}

.btn > button {
  display: block;
  color: whitesmoke;
  margin: auto;
  width: 60%;
  font-size: 1rem;
  padding: 5px;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  border: 2px solid whitesmoke;
}

.btn > button > a {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Ysabeau Infant", sans-serif;
}

.google {
  color: white;
  margin-top: 20px;
  text-align: center;
  padding-bottom: 10px;
}
.googlelogin {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 40px;
}
.googlelogin > button {
  margin: 0px 20px;
  padding: 6px 20px;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  font-family: "Ysabeau Infant", sans-serif;
  border: 2px solid whitesmoke;
}

.googlelogin > button > i {
  margin: 0px 5px;
}
.signup {
  text-align: center;
  padding-bottom: 50px;
}
.signup > a {
  text-decoration: none;
  color: whitesmoke;
}
.signup > a:hover {
  text-decoration: underline;
}

footer {
  background-color: #002b27;
  color: white;
  font-family: "Ysabeau Infant", sans-serif;
}
footer > hr {
  border: none;
  border-top: 2px solid white;
  width: 91%;
  margin: auto;
  text-align: center;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 30px;
}
.footerlogo {
  margin: 20px 0px 15px 20px;
}
.footerlogo img {
  height: 80px;
  width: 80px;
  margin: 0px 0px -10px 20px;
}
.tagline {
  font-size: 1rem;
}
.subscribe {
  margin: 20px 0px 15px 20px;
}
.subscribeinfo {
  width: 75%;
  margin-bottom: 10px;
  margin-top: 18px;
}

.getemail input {
  font-size: 1rem;

  padding: 6px 20px;
  margin-right: 15px;
  border: none;
  outline: none;
  background: none;
  border: 1px solid white;
  color: white;
  font-family: "Ysabeau Infant", sans-serif;
}

::placeholder {
  color: white;
}

.getemail button {
  margin: 0px 0px;
  padding: 6px 20px;
  font-size: 1rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #045935, #002b27);
  color: white;
  cursor: pointer;
  font-family: "Ysabeau Infant", sans-serif;
}
.getemail > button > a {
  text-decoration: none;
  color: white;
}

.connect {
  margin: 20px 0px 15px 20px;
}

.follow {
  font-size: 1.1rem;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.icons i {
  cursor: pointer;
  font-size: 1.1rem;
}
.icons a {
  color: white;
}

.callus {
  margin: 20px 0px 15px 20px;
}
.call {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.calling {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.num {
  padding: 0px 0px 0px 12px;
}
.calling a {
  color: white;
}
.calling a:visited {
  color: white;
}
.rights {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px 20px 0px;
}

.terms a {
  color: white;
  text-decoration: none;
  margin: 0px 15px;
}
.terms a:hover {
  text-decoration: underline;
}
